# Node.js dependencies (will be ignored globally in the project)
**/node_modules/
**/dist/
**/coverage/
**/.angular/

# Python build artifacts and virtual environment
**/__pycache__/
*.pyc
.venv/
.env

# OS specific files
.DS_Store
Thumbs.db

# VS-Code settings
.vscode

# Snap
prime
parts
stage

# Licenses
*/licenses
*ctrlx_cores.env

# VM file
*/instances