# Node.js dependencies (will be ignored globally in the project)
**/node_modules/
**/dist/
**/coverage/
**/.angular/

# Python build artifacts and virtual environment
**/__pycache__/
*.pyc
.venv/
.env

# OS specific files
.DS_Store
Thumbs.db

# VS-Code settings
.vscode

# Snap
prime
parts
stage

# Licenses
*/licenses
*ctrlx_cores.env

# VM file
*/instances
sdk-vm-automation/qemu_error.log
sdk-vm-automation/id_rsa_ctrlx.pub
sdk-vm-automation/install_debug.log
sdk-vm-automation/manual_start_vm_logs.txt

# QEMU
*/qemu

# Balena Etcher
*/*exe
*/*xz